body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #E3F2FD;
}
h1 {
    text-align: center;
}
.CentrarOrganizaciones {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 18px;
    justify-items: center;
    margin-bottom: 30px;
    max-width: 650px; 
    margin-left: auto;
    margin-right: auto;
}
.OrganizacionesBeneficas {
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 6px;
    padding: 15px 10px;
    width: 185px; 
    text-align: center;
    box-shadow: 1px 2px 8px #ddd;
}
.logoImagen {
    width: 170px;
    height: 130px;
    object-fit: contain;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 8px;
    
}
.logoImagen:active {
    box-shadow: 0 0 6px #2196f3;
}
.nombreCausasBeneficas {
    font-weight: 600;
    font-size: 1.5em;
    margin-bottom: 3px;
}
.PrecioAportacion {
    color: #2196f3;
    font-size: 1em;
    margin-bottom: 5px;
}
.Resultados {
    background: #fff;
    border: 1px solid #eee;
    border-radius: 6px;
    margin: 35px auto 0 auto;
    max-width: 550px;
    min-height: 50px;
    padding: 18px;
    line-height: 1.5;
    font-size: 1em;
    color: #464646;
    box-shadow: 1px 2px 8px #272727;
    text-align: center;
    
}
#botonFinal {
    display: block;
    margin: 0 auto;
    margin-top: 12px;
    padding: 10px 22px;
    border: none;
    border-radius: 5px;
    background: #023f72;
    color: #fff;
    font-size: 1.0em;
    cursor: pointer;
    box-shadow: 1px 2px 8px #b3cdf6;
}
#botonFinal:hover{
    background: #000000;
}


